@model ProblemsPageViewModel

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/Home/StyleProblems.css" type="text/css" />

<div class="pageTitle">Задачи</div>
<p>Всего переведено задач: @(Model.ProblemsLength).</p>
<p>
    Оригинал задач на английском языке: <a href="http://projecteuler.net">http://projecteuler.net</a> (внешний сайт)<br/>
    Для ускорения перевода новых задач вы можете сделать небольшое пожертвование.
</p>

<p id="pages">
    <label>Страница: </label>
    @for (int i = 1; i <= Model.AmountPages; i++)
    {
        <a asp-controller="Home" asp-action="Problems" asp-route-page=@i class=@(i == Model.NowPage ? "nowPage" : "page")>@i</a>
        
    }
</p>

<table>
    <tr>
        <th>Номер</th>
        <th>Заголовок</th>
    </tr>
    @foreach (Problem problem in Model.Problems)
    {
        <tr>
            <td>@problem.Number</td>
            <td><a asp-controller="Home" asp-action="Problem" asp-route-number=@problem.Number>@problem.Name</a></td>
        </tr>
    }
</table>

<p id="pages">
    <label>Страница: </label>
    @for (int i = 1; i <= Model.AmountPages; i++)
    {
        <a asp-controller="Home" asp-action="Problems" asp-route-page=@i class=@(i == Model.NowPage ? "nowPage" : "page")>@i</a>
    }
</p>